@import "stisla/variable";
$logo-blue: color(primary);
$primary-color: color(primary);
$white: #fff;
$navbgcolor: #fff;

// Notification Colors
$dark-logo-orange: darken($primary-color, 10%);
$read-notification-bg: #f0f3f5;
$read-notification-text: darken($read-notification-bg, 50%);

$placeholder-color: #c2c2c2;
$light-blue: #20a8d8;

$primaryColor: color(primary);
